# Sequence types: Tuples, Lists, and Strings
## Tuple
### A simple immutable ordered sequence of items
### Immutable: a tuple cannot be modified once created....
### Items can be of mixed types, including collection types
## Strings
### Immutable
### Conceptually very much like a tuple
### Regular strings use 8-bit characters. Unicode strings use 2-byte characters. (All this is changed in Python 3.)
## List
### Mutable ordered sequence of items of mixed types

In [8]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [9]:
tu[1]

'abc'

In [10]:
tu[1] = 35

TypeError: 'tuple' object does not support item assignment

In [11]:
li = ["abc", 34, 4.34, 23]

In [12]:
li[1]

34

In [13]:
li[1] = 35

In [14]:
li[1]

35

In [15]:
st = "Hello World"

In [16]:
st[1]

'e'

In [17]:
st[1] = 'a'

TypeError: 'str' object does not support item assignment

In [23]:
tu_slice = tu[1:4]

In [24]:
tu_slice

('abc', 4.56, (2, 3))

In [26]:
tu_slice[2]

(2, 3)

In [27]:
t_copy = tu

In [28]:
t_copy[1]

'abc'

In [29]:
t_copy[1] = "cba"

TypeError: 'tuple' object does not support item assignment

In [30]:
l_copy = li

In [31]:
l_copy[1]

35

In [32]:
l_copy[1] = 36

In [33]:
l_copy[1]

36

In [34]:
li[1]

36

In [35]:
l_copy2 = li[:]

In [36]:
l_copy2[1] = 37

In [37]:
l_copy2[1]

37

In [38]:
li[1]

36

In [39]:
t = [1, 2, 3, 4]

In [40]:
3 in t

True

In [41]:
5 in t

False

In [42]:
5 not in t

True

In [43]:
t1 = (1, 2, 3)

In [44]:
t11 = (4, 5, 6)

In [45]:
t1 + t11

(1, 2, 3, 4, 5, 6)

In [46]:
t1 = t1 + t11

In [47]:
t1

(1, 2, 3, 4, 5, 6)

In [56]:
l1 = [1, 2, 3]

In [57]:
l11 = [4, 5, 6]

In [58]:
l1 + l11

[1, 2, 3, 4, 5, 6]